workflows/aprendendo_human_in_the_loop.json
{
  "updatedAt": "2026-02-08T15:10:36.974Z",
  "createdAt": "2026-02-08T12:43:00.098Z",
  "id": "-RpAmCwPmuTEV2tJIw53D",
  "name": "aprendendo_human_in_the_loop",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1184,
        32
      ],
      "id": "069d6f90-e425-49de-a928-db5f85bd8763",
      "name": "Telegram Trigger",
      "webhookId": "6d008304-cb3b-498e-960c-74368ee34c6e",
      "credentials": {
        "telegramApi": {
          "id": "rUzBztp5Bs6Z0mRi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Gere um conteúdo para o Twitter no estilo e tom de voz de Mayk Brito (Rocketseat).\n\nTEMA PRINCIPAL: {{ $json.message.text }}\n\nOBJETIVO: [INFIRA O OBJETIVO]\nFORMATO: [INFIRA O FORMATO]\nREGRAS DE FORMATAÇÃO E TOM (CRÍTICAS):\n\n- EVITE Utilizar emojis\n- Use frases de impacto no início para prender a atenção (o famoso \"Hook\").\n- EVITE ADICIONAR HASHTAGS\n- MAXIMO 240 caracteres\n\nMantenha a voz motivacional, técnica e entusiasta do Mayk. ",
        "options": {
          "systemMessage": "=Você é um copywriter de conteúdo digital para desenvolvedores, especializado em replicar a voz, o entusiasmo e o conhecimento técnico de Mayk Brito (CTO e educador da Rocketseat).\n\nSua missão é criar um tweet ou uma thread para o Twitter, seguindo as diretrizes e o tema fornecidos.\n\nDiretrizes de Tom de Voz e Linguagem (Mayk Brito - Rocketseat)\nTom: Entusiasmado, motivacional, direto ao ponto e altamente educativo. O tom deve inspirar a ação (\"Bora codar!\", \"Mão na massa\") e despertar a curiosidade (\"Será que você está fazendo isso certo?\", \"A chave para destravar seu próximo nível\").\n\nLinguagem:\n\n\"Dev-Friendly\": Use termos técnicos (como Stack, front-end, back-end, deploy, debug, API, performance, ecossistema JS, Next Level, etc.) de forma natural e precisa.\n\nGírias/Expressões Típicas:\n\nUse palavras como: \"Bora,\" \"Galera,\" \"A chave,\" \"Mandou bem,\" \"Hackzão,\" \"Mentalidade,\" \"Next Level,\" \"Mão na massa,\" \"Desafio,\" \"Stack.\"\n\nSempre finalize com um toque motivacional ou uma chamada para a ação simples (ex: \"Bora pra cima!\", \"Até a próxima!\").\n\nObjetividade: O conteúdo deve ser denso, mas apresentado de forma clara e escaneável (uso de emojis, listas, quebras de linha).\n\nEstrutura de Conteúdo: O objetivo é sempre entregar valor imediato, seja com um insight técnico, uma dica de carreira, ou um desafio de programação.\n\nEstrutura do Prompt de Entrada\nO input para o agente será dividido em três partes:\n\n[TEMA PRINCIPAL]: O assunto sobre o qual o tweet ou thread deve tratar.\n\n[OBJETIVO]: O que se espera que o leitor faça (ex: engajar, responder, clicar em um link, pensar sobre um conceito).\n\n[FORMATO]: Se deve ser um tweet único (conciso) ou uma thread (detalhada).\n\n## TOOL\nTavily Search para pesquisar insumo sobre o tópico desejado\n\n## IMPORTANTE\n- SEMPRE chame a tool Tavily Search para obter insumo\n- NUNCA responda sem antes obter insumo do Tavily Search"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -720,
        32
      ],
      "id": "7bb415dd-bdeb-47e6-bee3-b8ba57d997b0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -736,
        256
      ],
      "id": "abb0da4e-7ce8-41a4-9749-b3dcaec10745",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JRLMHmd3fmACEhmR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the web. Requires `query` param",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `The search query`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -576,
        256
      ],
      "id": "403bd8fe-0919-414f-9284-ab08376604ab",
      "name": "Tavily Search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uugm9F4VWdjIsir4",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ffa4fd4-95a5-4ccb-a0be-5f3db75fff38",
              "name": "post",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        32
      ],
      "id": "f973f464-96f8-46f3-94b3-0b6841f5ac36",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "=Aprovado?\n\n{{ $json.post }}",
        "responseType": "freeText",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        32
      ],
      "id": "237e4670-31aa-40df-b415-3cd8972c6c00",
      "name": "Send a text message",
      "webhookId": "17327850-1374-4e3c-9dca-bfedd7277687",
      "credentials": {
        "telegramApi": {
          "id": "rUzBztp5Bs6Z0mRi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.data.text }}",
        "categories": {
          "categories": [
            {
              "category": "approved",
              "description": "O post foi revisado e aprovado, aceito pelo usuário. O usuário indicou que gostou e não precisa de nenhuma alteração."
            },
            {
              "category": "declined",
              "description": "O usuário solicitou modificações, pediu para remover partes ou adicionar partes, reescrever, etc. Qualquer sugestão do usuário sobre editar, modificar, alterar, será entendido como declined"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        64,
        32
      ],
      "id": "7127d2a6-0734-4ac9-80ed-4e7328f29213",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um escritor expert em twitter e especialista em revisão. Seu trabalho é pegar o post para ser revisado e revisar baseado no feedback do humano.\n\n<post-to-review>\n{{ $node['Edit Fields'].json.post }}\n</post-to-review>\n\n<human-feedback>\n{{ $json.data.text }}\n</human-feedback>\n\nRegras\n- Utilize sua tool de pesquisa APENAS se o humano solicitar\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        128
      ],
      "id": "86f4208a-28c0-4ebf-92c8-c96d8fe6a902",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "M0cHoimNN9GdgU23",
          "mode": "list",
          "cachedResultName": "twitter-posts",
          "cachedResultUrl": "/projects/i95oXQYAD5RP6Jwj/datatables/M0cHoimNN9GdgU23"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "post": "={{ $('Edit Fields').item.json.post }}"
          },
          "matchingColumns": [
            "post"
          ],
          "schema": [
            {
              "id": "post",
              "displayName": "post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        432,
        -32
      ],
      "id": "0d9cc173-0af5-4baa-bcc1-a4416ce1b802",
      "name": "Insert row"
    },
    {
      "parameters": {
        "content": "```\nHuman in the Loop: Precisa de intervenção humana? Então, pausa o fluxo até que haja uma resposta\n```",
        "height": 576,
        "width": 1920,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1232,
        -160
      ],
      "id": "364ce541-1e75-40ae-a3b1-944e05ed6f50",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uy-cQrzs9gFHgi1eb9Aus",
          "mode": "list",
          "cachedResultUrl": "/workflow/uy-cQrzs9gFHgi1eb9Aus",
          "cachedResultName": "aprendendo_fila_de_MSG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "payload": "={{ \n  {\n    from: $json.message.from.id,\n    message: {\n      date: $now.toISO(),\n      content: $json.message.text\n    }\n  }\n}}"
          },
          "matchingColumns": [
            "payload"
          ],
          "schema": [
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -960,
        32
      ],
      "id": "204fb58b-860d-449f-b5a4-f4b4c25660f7",
      "name": "Call 'aprendendo_fila_de_MSG'"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Call 'aprendendo_fila_de_MSG'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'aprendendo_fila_de_MSG'": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 39982377,
          "message": {
            "message_id": 144,
            "from": {
              "id": 6668426258,
              "is_bot": false,
              "first_name": "Thiago S.",
              "language_code": "pt-br"
            },
            "chat": {
              "id": 6668426258,
              "first_name": "Thiago S.",
              "type": "private"
            },
            "date": 1770562904,
            "text": "Crie um post para mim"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "90bb2618-6d1b-448b-bb26-3c1a24c8d304",
  "activeVersionId": "9bfe7da7-779a-4f5f-b979-9fad32814192",
  "versionCounter": 77,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-08T12:43:00.098Z",
      "createdAt": "2026-02-08T12:43:00.098Z",
      "role": "workflow:owner",
      "workflowId": "-RpAmCwPmuTEV2tJIw53D",
      "projectId": "i95oXQYAD5RP6Jwj",
      "project": {
        "updatedAt": "2026-01-24T11:21:28.107Z",
        "createdAt": "2026-01-24T11:13:34.308Z",
        "id": "i95oXQYAD5RP6Jwj",
        "name": "Thiago  Saquette <thigo.saquette@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "71cb6906-aa6d-46d6-9d5a-fc45006b4b0b"
      }
    }
  ]
}