workflows/Points_Notifying.json
{
  "updatedAt": "2026-01-10T14:23:02.664Z",
  "createdAt": "2026-01-10T14:23:02.664Z",
  "id": "NlaBOwX8iUQ1wCAgpEU5H",
  "name": "Points Notifying",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Leitor de pontos\n\n",
        "height": 704,
        "width": 2448,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7432c236-1569-488a-b2f2-871377f32a2d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        208
      ],
      "id": "a8d20594-edaa-4a10-b944-d651a907d80e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "YmtQMEQtRWd1SVZiQlBmYg",
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        336,
        464
      ],
      "id": "6dba1117-9c8f-4efd-816e-f95ef54878fe",
      "name": "Get many tasks"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        320
      ],
      "id": "a6250b15-bca9-4117-894e-6521f0752871",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um motor de renderização de código estrito e filtro lógico (API Mode).\n\nENTRADA DE DADOS: {{ $json.texto }}\n\n--- REGRA SUPREMA DE FILTRAGEM (LEIA PRIMEIRO) ---\n1. Analise a lista de \"Itens Desejados\" e compare com as \"Compras de Hoje\" (Oportunidades) no texto de entrada.\n2. Se NENHUM item da lista de desejos for encontrado nas ofertas disponíveis, PARE O PROCESSAMENTO DE HTML.\n3. Neste caso, sua resposta deve ser EXATAMENTE e APENAS a frase abaixo (sem aspas, sem markdown, sem HTML):\n   Nenhum dos itens disponíveis hoje corresponde aos itens desejados\n\n--- INSTRUÇÕES DE RENDERIZAÇÃO HTML ---\nCaso (e APENAS caso) pelo menos um item desejado seja encontrado, gere o código HTML seguindo as regras abaixo:\n\nCRITÉRIO DE ERRO FATAL:\n- NÃO escreva \"Aqui está o HTML\".\n- NÃO use blocos de markdown (```html).\n- Sua resposta deve começar EXATAMENTE com \"<!DOCTYPE html>\" e terminar com \"</html>\".\n\nLÓGICA VISUAL (STATUS DA LISTA):\n- Para itens ENCONTRADOS: <li style=\"color: #e6007e; font-weight: bold; margin-bottom: 5px;\">✓ [Nome do Item]</li>\n- Para itens NÃO encontrados: <li style=\"color: #666666; margin-bottom: 5px;\">• [Nome do Item]</li>\n\nLÓGICA DE CARDS:\n- Gere o bloco do card de produto APENAS para os itens que foram encontrados.\n- Preencha os placeholders: [[URL_DA_IMAGEM]], [[NOME_DO_PRODUTO]], [[DESCRICAO_CURTA]], [[PRECO_BRL]], [[PONTOS_GANHOS]], [[PONTOS_POR_REAL]], [[URL_DO_PRODUTO]].\n\n--- TEMPLATE HTML BASE ---\n\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; background: #141414; background: linear-gradient(135deg, #000000 0%, #1a1a1a 100%); color: #ffffff;\">\n\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 20px 15px;\">\n\n    <div style=\"text-align: center; margin-bottom: 35px; padding-top: 20px;\">\n      <h1 style=\"color: #ffffff; margin: 0; font-size: 24px; letter-spacing: 1px; font-weight: 300; text-transform: uppercase;\">Seleção Exclusiva</h1>\n      <div style=\"height: 2px; width: 40px; background: #e6007e; margin: 10px auto;\"></div>\n      <p style=\"color: #999999; margin-top: 10px; font-size: 13px;\">Oportunidades encontradas para você</p>\n    </div>\n\n    <div style=\"background: rgba(40, 40, 40, 0.8); border: 1px solid rgba(255, 255, 255, 0.1); border-radius: 12px; padding: 20px; margin-bottom: 30px;\">\n      <p style=\"margin: 0; font-size: 14px; color: #aaaaaa; text-transform: uppercase; letter-spacing: 2px; font-weight: bold; margin-bottom: 10px;\">Encontrados da Lista</p>\n      <ul style=\"margin: 0; padding: 0; list-style: none;\">\n        </ul>\n    </div>\n\n    <div style=\"background: #1f1f1f; border: 1px solid #333333; border-radius: 16px; overflow: hidden; margin-bottom: 30px; box-shadow: 0 15px 35px rgba(0,0,0,0.5);\">\n      \n      <div style=\"background-color: #ffffff; padding: 20px; text-align: center;\">\n        <img src=\"[[URL_DA_IMAGEM]]\" alt=\"Produto\" style=\"max-height: 180px; width: auto; max-width: 100%; object-fit: contain; display: block; margin: 0 auto;\" />\n      </div>\n\n      <div style=\"padding: 25px;\">\n        <h2 style=\"margin: 0 0 10px; font-size: 18px; color: #ffffff; line-height: 1.4; font-weight: 500;\">[[NOME_DO_PRODUTO]]</h2>\n        \n        <p style=\"font-size: 13px; color: #aaaaaa; line-height: 1.5; margin-bottom: 20px; font-weight: 300;\">\n          [[DESCRICAO_CURTA]]\n        </p>\n\n        <div style=\"display: flex; align-items: flex-end; justify-content: space-between; margin-bottom: 25px; border-top: 1px solid #333; padding-top: 15px;\">\n          <div>\n             <span style=\"font-size: 11px; color: #666; display: block; margin-bottom: 2px;\">Valor Atual</span>\n             <span style=\"font-size: 24px; font-weight: 700; color: #ffffff;\">R$ [[PRECO_BRL]]</span>\n          </div>\n          <div style=\"text-align: right;\">\n             <div style=\"background: rgba(230, 0, 126, 0.15); border: 1px solid rgba(230, 0, 126, 0.3); color: #ff69b4; font-size: 11px; padding: 4px 10px; border-radius: 20px; display: inline-block; margin-bottom: 5px;\">\n               +[[PONTOS_GANHOS]] pts\n             </div>\n             <div style=\"font-size: 10px; color: #888;\">[[PONTOS_POR_REAL]] pts/R$</div>\n          </div>\n        </div>\n\n        <a href=\"[[URL_DO_PRODUTO]]\" target=\"_blank\" style=\"display: block; width: 100%; background: #e6007e; background: linear-gradient(90deg, #e6007e 0%, #ff4081 100%); color: white; text-align: center; padding: 16px 0; text-decoration: none; border-radius: 8px; font-weight: bold; font-size: 14px; text-transform: uppercase; letter-spacing: 1px; box-shadow: 0 4px 15px rgba(230, 0, 126, 0.4);\">\n          ACESSAR OFERTA\n        </a>\n        \n      </div>\n    </div>\n    <div style=\"text-align: center; padding-top: 20px; border-top: 1px solid #333;\">\n      <p style=\"color: #555; font-size: 11px;\">Monitoramento Automático de Preços</p>\n    </div>\n\n  </div>\n</body>\n</html>"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1456,
        336
      ],
      "id": "7e7fcda5-639b-4cf9-ae0d-eb506cdba141",
      "name": "Message a model"
    },
    {
      "parameters": {
        "sendTo": "thigo.saquette@gmail.com ",
        "subject": "Produtos de interesse (Livelo)",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1920,
        480
      ],
      "id": "9de62375-35a6-4036-8bce-e7e21cbe256c",
      "name": "Send a message",
      "webhookId": "d4163e7b-775a-44a8-b9fc-f1e5d1e62f0a"
    },
    {
      "parameters": {
        "jsCode": "return {url: \"https://www.livelo.com.br/shopping/colecoes/aproveite-as-melhores-ofertas?hitsPerPage=60&sorter=catalog_app_accrual_parity_desc\"};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        336
      ],
      "id": "a23d51f1-ac5f-43e5-8037-049747cde589",
      "name": "URL Livelo"
    },
    {
      "parameters": {
        "jsCode": "// O HTML de entrada é o mesmo\nconst htmlData = $input.first().json.data;\n\n// --- FUNÇÕES AUXILIARES ---\n\nconst cleanText = (text) => {\n    if (!text) return null;\n    return text\n        .replace(/<[^>]*>/g, '') \n        .replace(/&nbsp;/g, ' ')\n        .replace(/&amp;/g, '&')\n        .replace(/\\s+/g, ' ') \n        .trim();\n};\n\nconst parseNumber = (text) => {\n    if (!text) return null;\n    const clean = text\n        .replace(/[^\\d,\\.]/g, '') \n        .replace(/\\./g, '') \n        .replace(',', '.'); \n    const num = parseFloat(clean);\n    return isNaN(num) ? null : num;\n};\n\nconst extractByTestId = (html, testId) => {\n    let regex = new RegExp(`data-testid=[\"']?${testId}[\"']?[^>]+title=[\"']([^\"']+)[\"']`, 'i');\n    let match = html.match(regex);\n    if (match && match[1]) {\n        return cleanText(match[1]);\n    }\n\n    regex = new RegExp(`data-testid=[\"']?${testId}[\"']?[^>]*>([\\\\s\\\\S]*?)<\\\\/`, 'i');\n    match = html.match(regex);\n    if (match && match[1]) {\n        return cleanText(match[1]);\n    }\n    \n    return null;\n};\n\n/**\n * NOVA FUNÇÃO: Extrai o atributo SRC de uma imagem baseada no testId\n */\nconst extractImageAttribute = (html, testId) => {\n    // Procura pela tag img que tenha esse testid e captura o conteúdo do src=\"...\"\n    let regex = new RegExp(`data-testid=[\"']?${testId}[\"']?[^>]*src=[\"']([^\"']+)[\"']`, 'i');\n    let match = html.match(regex);\n    \n    if (match && match[1]) {\n        return match[1]; // Retorna a URL crua\n    }\n    return null;\n};\n\n\n// --- FLUXO PRINCIPAL DE ANÁLISE ---\n\n// 1. Encontra todos os blocos de HTML de cada produto\nconst cardRegex = /<a data-testid=\"ProductCardFactory_Physical_Link\"[^>]*>([\\s\\S]*?)<\\/a>/gi;\nconst cardMatches = [...htmlData.matchAll(cardRegex)];\n\nconst compras = cardMatches.map((match, i) => {\n    const fullTag = match[0]; // Tag completa para pegar o href do produto\n    const innerHtml = match[1]; // Miolo para pegar imagem, titulo, preços\n\n    // 1. URL do Produto\n    const hrefMatch = fullTag.match(/href=[\"']([^\"']+)[\"']/i);\n    let productUrl = null;\n    if (hrefMatch && hrefMatch[1]) {\n        let cleanUrl = hrefMatch[1].replace(/&amp;/g, '&');\n        productUrl = `https://www.livelo.com.br${cleanUrl}`;\n    }\n\n    // 2. Extrai Imagem (NOVO)\n    // O src da imagem já vem completo (https://...), não precisa concatenar domínio\n    const imageUrl = extractImageAttribute(innerHtml, \"ProductCard_ProductImage\");\n\n    // 3. Extrai Textos\n    const title = extractByTestId(innerHtml, \"ProductCard_ProductTitle\");\n    const description = extractByTestId(innerHtml, \"ProductCard_PartnerInfos_Text\");\n    \n    const clubPointsText = extractByTestId(innerHtml, \"ProductCard_ProductPricingPts_ClubSalePrice\");\n    const defaultPointsText = extractByTestId(innerHtml, \"ProductCard_ProductPricingPts_DefaultSalePrice\");\n    const brlPriceText = extractByTestId(innerHtml, \"ProductCard_ProductPricingBrl_SalePrice\");\n    const pointsEarnedText = extractByTestId(innerHtml, \"ProductCard_AccrualInfos_DefaultAccrual\");\n\n    // 4. Converte Números\n    const clubPoints = parseNumber(clubPointsText);\n    const defaultPoints = parseNumber(defaultPointsText);\n    const brlPrice = parseNumber(brlPriceText);\n    const pointsEarned = parseNumber(pointsEarnedText);\n\n    // 5. Calcula Métricas\n    let pointsPerReal = null;\n    if (pointsEarned && brlPrice > 0) {\n        pointsPerReal = parseFloat((pointsEarned / brlPrice).toFixed(2));\n    }\n\n    return {\n        index: i + 1,\n        title: title,\n        image: imageUrl, // Campo adicionado\n        url: productUrl,\n        description: description,\n        clubPoints: clubPoints,\n        defaultPoints: defaultPoints,\n        brlPrice: brlPrice,\n        pointsEarned: pointsEarned,\n        pointsPerReal: pointsPerReal,\n    };\n});\n\nreturn [{\n    json: {\n        comprasDeHoje: compras\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        208
      ],
      "id": "02b37433-4bc6-4e10-9032-789d53d33d69",
      "name": "Extrai Produtos",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const tasks = $input.all().map(item => item.json);\n\n// Extrai apenas os títulos e formata\nconst itemsDesejados = tasks.map(task => ({\n  itemDesejado: task.title\n}));\n\nreturn [\n  {\n    json: {\n      itemsDesejados\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        464
      ],
      "id": "c4f8c2ac-c65c-4a08-bc11-90076f67831f",
      "name": "Extrai itens"
    },
    {
      "parameters": {
        "jsCode": "const allInputs = $input.all();\n\n// Primeiro item tem `comprasDeHoje`\nconst comprasDeHoje = allInputs[0].json.comprasDeHoje;\n\n// Segundo item tem `url` (Url geral/origem)\nconst url = allInputs[1].json.url;\n\n// Terceiro item tem `itemsDesejados`\nconst itemsDesejados = allInputs[2].json.itemsDesejados;\n\nconst formatItemsDesejados = (items = []) => {\n  return items.map((item, i) => `  ${i + 1}. ${item.itemDesejado}`).join('\\n');\n};\n\nconst formatComprasDeHoje = (compras = []) => {\n  return compras.map((item, i) => {\n    return `  ${i + 1}. ${item.title}\n      - Descrição: ${item.description}\n      - Preço (BRL): R$ ${item.brlPrice}\n      - Link do Produto: ${item.url}\n      - Imagem: ${item.image}\n      - Pontos Club: ${item.clubPoints}\n      - Pontos Cheios: ${item.defaultPoints}\n      - Pontos ganhos: ${item.pointsEarned}\n      - Pontos por real: ${item.pointsPerReal}`;\n  }).join('\\n\\n');\n};\n\nconst texto = `Url Origem:\\n${url}\\n\\nItens desejados:\\n${formatItemsDesejados(itemsDesejados)}\\n\\nCompras de hoje:\\n${formatComprasDeHoje(comprasDeHoje)}`;\n\nreturn [\n  {\n    json: {\n      texto\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        336
      ],
      "id": "0e5ba193-5f5e-419d-b7b3-a7619c8d1e2b",
      "name": "JSON -> Texto"
    },
    {
      "parameters": {
        "jsCode": "const compras = $input.first().json.comprasDeHoje;\n\nconst filtrado = compras.filter(item => item.pointsPerReal >= 5);\n\nreturn [\n  {\n    json: {\n      comprasDeHoje: filtrado\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        208
      ],
      "id": "ac0a5be9-da17-46ed-b019-f3f2e52acfe0",
      "name": "Filter 5 Points"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        96,
        400
      ],
      "id": "0e790fdf-6a16-4f7d-a637-21d64dcf499a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc695deb-5332-499c-8151-a365c21cab03",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "Nenhum dos itens disponíveis hoje corresponde aos itens desejados",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1776,
        336
      ],
      "id": "3ddee780-8ab0-4b18-8389-4801d356d91f",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2128,
        48
      ],
      "id": "738bc37e-6201-4b23-9cf7-c08ede8d6462",
      "name": "Get chats",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2128,
        480
      ],
      "id": "d1e23f3e-f0fe-427a-a344-c9e54112c2fd",
      "name": "Send a text message",
      "credentials": {}
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extrai Produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks": {
      "main": [
        [
          {
            "node": "Extrai itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "JSON -> Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Livelo": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extrai Produtos": {
      "main": [
        [
          {
            "node": "Filter 5 Points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai itens": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "JSON -> Texto": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 5 Points": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "URL Livelo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "bac28e82-2310-4bb0-b08e-d91976db1d49",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-10T14:23:02.664Z",
      "createdAt": "2026-01-10T14:23:02.664Z",
      "role": "workflow:owner",
      "workflowId": "NlaBOwX8iUQ1wCAgpEU5H",
      "projectId": "ZOOio0AGC48cUKE7",
      "project": {
        "updatedAt": "2026-01-10T12:43:14.203Z",
        "createdAt": "2026-01-10T12:33:00.833Z",
        "id": "ZOOio0AGC48cUKE7",
        "name": "Thiago Saquette <thiago.saquettepj@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8265ce84-06dc-4f87-9444-dd6220b39adc"
      }
    }
  ]
}