workflows/trabalhando_com_videos.json
{
  "updatedAt": "2026-02-08T17:09:58.713Z",
  "createdAt": "2026-02-08T16:57:06.579Z",
  "id": "JNuHIA4yxVJEB_CJ2QHqS",
  "name": "trabalhando_com_videos",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "```\nGerando vídeos com Replicate\n```\n- Criar conta no replicate.com + [api token](https://replicate.com/account/api-tokens)\n- Criar conta no [github.com](https://github.com)\n\n\n**Utilizando o modelo no n8n**\n- [`Dashboard` > `Models`](https://replicate.com/models)\n- Selecione o modelo criado\n- Digite um prompt\n- Vá na aba `http`\n- Copie o cURL e coloque no primeiro nó HTTP Request\n\n\n🙈 [Verificar uso e custos](https://replicate.com/)\n",
        "height": 456,
        "width": 1940,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "793c70b8-08f3-4e98-80e9-dc0618ff1795",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        480,
        176
      ],
      "id": "bc521581-4fc8-4e65-8784-67300688bc4b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/google/veo-3.1/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"input\": {\n    \"prompt\": \"the man is giving an interview for a podcast, wearing a blue top with the logo, it also neatly says \\\"Rocketseat\\\", he is in a midcentury modern studio with purple lighting, he talks about using Rocketseat to learning about programming, the logo is also in a framed picture against black behind him\",\n    \"duration\": 8,\n    \"resolution\": \"1080p\",\n    \"aspect_ratio\": \"16:9\",\n    \"generate_audio\": true,\n    \"reference_images\": [\"https://lh3.googleusercontent.com/pw/AP1GczO9zsRDk5lvIuTJDcZUAthmcWLtUsWZ-fLR2DoG0nf_8AwzWQ617eJJFGBW_EzQRLk41XE-v0NznqVJ7O0jD5JWxZ-j09fDNDFXDGDA3VTPfkobx4sg-lsi1cEOn5xGTyWpEUFyfw4jWUXB290T4W2Vlg=w1192-h2118-s-no-gm\"\n      ,\"https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.rocketseat.com.br%2Ffaculdade%2F_next%2Fstatic%2Fmedia%2Fftr-logo-with-bg.17c2c398.png&f=1&nofb=1&ipt=d122e6f2cc9b305fd8092296907f4f3436d67978342d972a5bb475a4e4fa3b74\"\n\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        176
      ],
      "id": "df636f7e-efdb-4723-afe7-b01e469af585",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        176
      ],
      "id": "63f6bcef-cef0-43b7-a397-e3a5e7c31e78",
      "name": "Wait",
      "webhookId": "e9c1db43-12dc-4870-91c1-76b8420fc072"
    },
    {
      "parameters": {
        "url": "={{ $json.urls.get }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        176
      ],
      "id": "5539d40f-b170-48f5-b6ef-86d86c8ce2e5",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "011aaf5e-0ebf-41aa-80ef-5376b51efebf",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1264,
        176
      ],
      "id": "9b7cf20a-a9b0-470e-99b3-d7f25a6386f7",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        96
      ],
      "id": "6f16d88e-fb65-4cba-b04d-17cf29ab20d6",
      "name": "HTTP Request2"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9e4318c5-fd36-49e1-a249-bd91ff2354d7",
  "activeVersionId": null,
  "versionCounter": 4,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-08T16:57:06.579Z",
      "createdAt": "2026-02-08T16:57:06.579Z",
      "role": "workflow:owner",
      "workflowId": "JNuHIA4yxVJEB_CJ2QHqS",
      "projectId": "i95oXQYAD5RP6Jwj",
      "project": {
        "updatedAt": "2026-01-24T11:21:28.107Z",
        "createdAt": "2026-01-24T11:13:34.308Z",
        "id": "i95oXQYAD5RP6Jwj",
        "name": "Thiago  Saquette <thigo.saquette@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "71cb6906-aa6d-46d6-9d5a-fc45006b4b0b"
      }
    }
  ]
}