workflows/workflow-telegram-chatbot.json
{
  "updatedAt": "2026-02-17T00:52:32.343Z",
  "createdAt": "2026-02-17T00:47:51.047Z",
  "id": "AF5NrSVMpYuQKUri",
  "name": "workflow-telegram-chatbot",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const inputText = $input.first().json.message?.text || '';\n\nfunction validateCityUF(text) {\n  const at = new Date().toISOString();\n  const fallback = (msg) => ({ errorMessage: msg, city: null, uf: null, at });\n\n  if (!text || typeof text !== 'string') \n    return fallback('🔴 Mensagem de texto não encontrada!');\n\n  const match = text.trim().match(/^(.+?)\\s*,\\s*([A-Z]{2})\\.?$/i);\n\n  if (!match) \n    return fallback('❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).');\n\n  const city = match[1].trim();\n  const uf = match[2].toUpperCase();\n\n  return (!city || uf.length !== 2) \n    ? fallback('❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).')\n    : { city, uf, at };\n}\n\ntry {\n  return { queue: validateCityUF(inputText) };\n} catch (e) {\n  return { queue: { errorMessage: '🔴 Erro inesperado!', city: null, uf: null, at: new Date().toISOString() } };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        256
      ],
      "id": "0214a0aa-84df-476d-8962-7fbc3deedf99",
      "name": "validate_and_transform"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a6eb2612-a427-4a8b-b865-3ee8efe1176f",
              "leftValue": "={{ $json.queue.errorMessage }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        256
      ],
      "id": "d380e559-3f51-4b52-b7b2-960945ede045",
      "name": "has_error"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        256
      ],
      "id": "838a5e22-0c27-4f64-867a-fde3dc252e27",
      "name": "message_trigger",
      "webhookId": "63b6ce5d-5ece-495b-a722-79672c30e1c1",
      "credentials": {
        "telegramApi": {
          "id": "ilGgK3D4VcRyOIPD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://api.openweathermap.org/geo/1.0/direct",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.queue.city }},{{ $json.queue.uf }},BR"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "appid",
              "value": "={{ $json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        352
      ],
      "id": "6e3a3d15-bed8-49a1-898e-2e535d7ceb94",
      "name": "get_geolocation_by_city_and_uf",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c7b78281-9cbb-469f-8d6b-3ecbc5261171",
              "leftValue": "={{ $json.lat }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "6e428d34-a205-45d6-8009-2806ba282e7c",
              "leftValue": "={{ $json.lon }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "06f9ecfe-7336-4ce3-b2b8-7dc464f9dc51",
              "leftValue": "={{ $('validate_and_transform').item.json.queue.city }}",
              "rightValue": "={{ $json.name }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2df4bb29-d0d6-40a2-9ad1-165c903a6525",
              "leftValue": "={{ $json.country }}",
              "rightValue": "BR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        352
      ],
      "id": "f16a0382-3f05-4e29-9bc8-6f5a4d96e3d7",
      "name": "check_the_results"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.queue.errorMessage }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        0,
        160
      ],
      "id": "da9d3bc2-d6b4-4e7b-b421-9062f993ec8c",
      "name": "throw_validation_error"
    },
    {
      "parameters": {
        "errorMessage": "=❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP)."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        656,
        592
      ],
      "id": "afb5b6f2-da4d-4882-8d73-a76150e871e7",
      "name": "throw_geolocation_http_error"
    },
    {
      "parameters": {
        "chatId": "={{ $('message_trigger').item.json.message.chat.id }}",
        "text": "❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "69cd06a3-611b-405b-b850-b2e35c6dc83f",
      "name": "message_with_error",
      "webhookId": "8ecfa472-bb52-4140-8b26-ecf00b30c355",
      "credentials": {
        "telegramApi": {
          "id": "ilGgK3D4VcRyOIPD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('message_trigger').item.json.message.chat.id }}",
        "text": "❌ Cidade não encontrada. Use o formato Cidade,UF (ex.: São Paulo,SP).",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        432
      ],
      "id": "5ca63f0a-821e-4753-903e-d07a2b98fb13",
      "name": "message_with_error_2",
      "webhookId": "8ecfa472-bb52-4140-8b26-ecf00b30c355",
      "credentials": {
        "telegramApi": {
          "id": "ilGgK3D4VcRyOIPD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lat",
              "value": "={{ $json.lat }}"
            },
            {
              "name": "lon",
              "value": "={{ $json.lon }}"
            },
            {
              "name": "appid",
              "value": "={{ $('my_api_key_value').item.json.apiKey }}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        256
      ],
      "id": "7773d5da-8537-4406-a2cb-2bfe19cdf003",
      "name": "get_weather_by_lat_lon",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f1cbce5-0c03-4c36-93cd-40a7dbf1c78b",
              "name": "apiKey",
              "value": "={{ $env['OPENWEATHER_API_KEY'] }}",
              "type": "string"
            },
            {
              "id": "81d2eb3a-1b2a-42aa-9524-8950234b45bf",
              "name": "queue",
              "value": "={{ $json.queue }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        352
      ],
      "id": "6ad563f8-ba03-4692-9fa7-2e6517641eaa",
      "name": "my_api_key_value"
    },
    {
      "parameters": {
        "chatId": "={{ $('message_trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text_to_user }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        256
      ],
      "id": "f436c89e-30b2-43d5-b9cb-f7751da8f2f0",
      "name": "message_with_success",
      "webhookId": "8ecfa472-bb52-4140-8b26-ecf00b30c355",
      "credentials": {
        "telegramApi": {
          "id": "ilGgK3D4VcRyOIPD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{\n  const temp = $input.first().json.main.temp;\n  let icon = '⛅';\n\n  if (temp >= 35) icon = '🌪️';      // Muito quente / Extremo\n  else if (temp >= 30) icon = '🌤️'; // Quente\n  else if (temp >= 25) icon = '⛅'; // Agradável\n  else if (temp >= 20) icon = '🌥️'; // Nublado leve\n  else if (temp >= 15) icon = '🌦️'; // Fresco / Chuva leve\n  else if (temp >= 10) icon = '🌧️'; // Frio com chuva\n  else if (temp >= 5) icon = '🌨️';  // Muito frio\n  else icon = '🌩️';    \n  \n  const text_with_icon = `${icon} A temperatura em ${$node[\"validate_and_transform\"].json.queue.city} é de ${temp.toFixed(0)}°C.`\n\n  return { text_to_user: text_with_icon};\n}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        256
      ],
      "id": "cc7d62bc-e8ec-49e1-813a-40a223fd9f1a",
      "name": "transform_success_response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae1860a5-d419-41f1-979c-f18a1738ec0d",
              "name": "env",
              "value": "={{ $env['TELEGRAM_BOT_TOKEN'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        528
      ],
      "id": "a0e246b8-014e-478c-ba12-ac7e188286d5",
      "name": "get_env"
    }
  ],
  "connections": {
    "validate_and_transform": {
      "main": [
        [
          {
            "node": "has_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message_trigger": {
      "main": [
        [
          {
            "node": "validate_and_transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has_error": {
      "main": [
        [
          {
            "node": "throw_validation_error",
            "type": "main",
            "index": 0
          },
          {
            "node": "message_with_error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "my_api_key_value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_geolocation_by_city_and_uf": {
      "main": [
        [
          {
            "node": "check_the_results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_the_results": {
      "main": [
        [
          {
            "node": "get_weather_by_lat_lon",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "throw_geolocation_http_error",
            "type": "main",
            "index": 0
          },
          {
            "node": "message_with_error_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "my_api_key_value": {
      "main": [
        [
          {
            "node": "get_geolocation_by_city_and_uf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_weather_by_lat_lon": {
      "main": [
        [
          {
            "node": "transform_success_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transform_success_response": {
      "main": [
        [
          {
            "node": "message_with_success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "get_weather_by_lat_lon": [
      {
        "json": {
          "coord": {
            "lon": -49.2733,
            "lat": -25.4284
          },
          "weather": [
            {
              "id": 211,
              "main": "Thunderstorm",
              "description": "trovoadas",
              "icon": "11d"
            },
            {
              "id": 501,
              "main": "Rain",
              "description": "chuva moderada",
              "icon": "10d"
            }
          ],
          "base": "stations",
          "main": {
            "temp": 22,
            "feels_like": 22.63,
            "temp_min": 21.69,
            "temp_max": 23.94,
            "pressure": 1016,
            "humidity": 91,
            "sea_level": 1016,
            "grnd_level": 910
          },
          "visibility": 10000,
          "wind": {
            "speed": 6.69,
            "deg": 220
          },
          "rain": {
            "1h": 1.54
          },
          "clouds": {
            "all": 75
          },
          "dt": 1771278099,
          "sys": {
            "type": 2,
            "id": 2073418,
            "country": "BR",
            "sunrise": 1771232622,
            "sunset": 1771279135
          },
          "timezone": -10800,
          "id": 3464975,
          "name": "Curitiba",
          "cod": 200
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "0b6c4830-3030-49bc-a7af-d3b80219b0fb",
  "activeVersionId": "0b6c4830-3030-49bc-a7af-d3b80219b0fb",
  "versionCounter": 10,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-17T00:47:51.049Z",
      "createdAt": "2026-02-17T00:47:51.049Z",
      "role": "workflow:owner",
      "workflowId": "AF5NrSVMpYuQKUri",
      "projectId": "ubGScFCzCUmzjSkT",
      "project": {
        "updatedAt": "2026-02-17T00:47:19.718Z",
        "createdAt": "2026-02-17T00:46:42.955Z",
        "id": "ubGScFCzCUmzjSkT",
        "name": "teste teste <thigo.saquette@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "9a23cab3-c651-4737-b401-6d3cc0a940f4"
      }
    }
  ]
}